/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Styling the cards */
  .card {
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    border-radius: 0.7em;

    -webkit-box-shadow: 6px 9px 23px -8px rgba(0,0,0,0.57);
    -moz-box-shadow: 6px 9px 23px -8px rgba(0,0,0,0.57);
    box-shadow: 6px 9px 23px -8px rgba(0,0,0,0.57);
  }


/* On Card hover, decrease the opacity */
.card:hover{
    opacity:0.8;
    transform: scale3d(1.05,1.05,1.05);
}

/* without hover, the buttons are hidden  */
.card button {
  position:absolute;
  display:none;
}

/* for the buttons displayed on hover : info and delete */
.card:hover button {
    display: block;
    border: transparent;
    background-color: transparent;
    color: white;
    font-size: xx-large;
}


.card button.delete {
    top:10%;
    right : 80%;
    left : 80%;
    
}

.card button.info {
  top:10%;
  right : 80%;
  
}

/* for the Loader*/
  .loader {
    font-size: x-large;
    margin: auto;
    width: 50%;
  }